[submodule "submodules/cmake"]
	path = submodules/cmake
	url = git://github.com/james147/arduino-cmake.git
[submodule "submodules/attiny"]
	path = submodules/attiny
	url = git://github.com/james147/arduino-tiny.git
